* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #578AEF;
    --black: #343434;
    --red: #CF4646;
    --pink: #D828D1;
    --orange: #F0831F;
}

body {
    background-color: #FAFAFA;
    color: var(--black);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem;
}
.container.white {
    background-color: white;
}

/* ========== Home ========== */
/* ---- Header ---- */
#menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
/* logo */
#menu .logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    color: var(--black);
}
#menu .logo p {
    font-size: 1.5rem;
    margin-left: .5rem;
}
/* links */
#menu .nav-list {
    list-style: none;
}
#menu .nav-link {
    text-decoration: none;
    color: var(--blue);
}

/* ---- Footer ---- */
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 1.5rem;
}

/* ---- Contact ---- */
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
}
.contact:hover {
    background-color: rgba(68, 68, 68, 0.068);
}
/* info */
.contact .info {
    flex: 1;
    display: flex;
    align-items: center;

    text-decoration: none;
    color: var(--black);
}
/* icon */
.contact .icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    width: 80px;

    font-size: 2.5rem;
    color: white;

    border-radius: 50%;
}
/* data */
.contact .data {
    display: flex;
    flex-direction: column;

    margin-left: 1rem;
}
.data .name {
    font-size: 1.25rem;
    font-weight: 600;

    margin-bottom: 0.25rem;
}
/* favorite */
.favorite {
    text-decoration: none;
}
.favorite.remove {
    color: var(--red);
}
.favorite.add {
    color: var(--blue);
}
/* icon|banner colors */
.icon.red, .banner.red {
    background-color: var(--red);
}
.icon.black, .banner.black {
    background-color: var(--black);
}
.icon.blue, .banner.blue {
    background-color: var(--blue);
}
.icon.pink, .banner.pink {
    background-color: var(--pink);
}
.icon.orange, .banner.orange {
    background-color: var(--orange);
}

/* ---- Contacts ---- */
.all-contacts {
    margin-top: 3rem;
}

/* ========== Contact ========== */
/* ---- Banner ---- */
.banner {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 300px;

    color: white;
    font-size: 8rem;
    text-align: center;
}
.banner.add-contact {
    font-size: 4rem;
}
/* link actions */
.link-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: 60px;
    padding: 1rem;
}
.link-actions .link {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: var(--black);

    outline: none;
    cursor: pointer;
    border: 0;
    background-color: transparent;

    margin-right: 1.5rem;
}
.link-actions .link.return {
    color: rgba(0, 0, 0, 0.521);
    margin: 1.5rem 0;
}
.link-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.link.blue {
    color: var(--blue);
}
.link.red {
    color: var(--red);
}

/* ---- Contact data ---- */
.contact-data {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    padding: 0 1rem;
}
.contact-data label {
    display: flex;
    flex-direction: column;

    font-size: 1.3rem;
    width: 100%;
    max-width: 800px;

    margin: 1rem auto;
}
.contact-data input {
    height: 45px;
    margin-top: 0.5rem;

    border: 0;
    border-bottom: 1px solid var(--black);
    outline: 0;

    text-indent: 1rem;
    font-size: 1.2rem;
}

/* ---- No data ---- */
.no-data {
    margin: 1rem;
    color: #888;
}

@media screen and (max-width: 576px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 0.2rem;
    }
    /* ---- Header ---- */
    #menu {
        flex-direction: column;
    }
    /* links */
    #menu .nav-list {
        margin-top: 1.5rem;
    }
    /* ---- Contact ---- */
    .contact {
        flex-direction: column;
    }
    /* banner */
    .banner.add-contact {
        font-size: 2rem;
    }
    /* info */
    .contact .info {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    /* icon */
    .contact .icon {
        margin-bottom: 1rem;
    }
    /* favorite */
    .contact .favorite {
        margin-top: 0.5rem;
    }

    /* ---- link actions ---- */
    .link-actions {
        justify-content: space-between;
    }
}