{{>partials/header}}

<div class="container white">
    <div class="banner blue add-contact">   
        <p>Adicionar contato</p>
    </div>
    <form method="POST" class="contact-data"> 
        <div class="link-actions">
            <a href="/" class="link return">Voltar</a>
            <div class="link-group"> 
                <button type="submit" class="link blue">Adicionar contato</button>
            </div>
        </div>

        <label>
            Nome: 
            <input type="text" name="name" required/>
        </label>
        <label>
            Telefone:
            <input type="tel" name="phone" pattern="\(\+([0-9]{2})\)( {0,}|)(|)[0-9]{2}(|)( {0,}|)([0-9]|)( {0,}|)([0-9]{4})((|-)| {0,})([0-9]{4})" placeholder="(+55) 71 9 9999-9999" required/>
        </label>
    </form>
</div>

{{>partials/footer}}