{{>partials/header}}

<div class="container">
    <div class="favorites">
        <h2>Favoritos</h2>
        <hr/>

        <div class="contact">
            <a href="#info" class="info"> 
                <div class="icon blue">A</div>

                <div class="data">
                    <p class="name">Albana Turner</p>
                    <p class="phone">(+55) 63 99287-3421</p>
                </div>
            </a>
            <a href="#remove" class="favorite remove">Remover dos favoritos</a>
        </div>
    </div>
    <div class="all-contacts">
        <h2>Todos os contatos</h2>
        <hr/>

        <div class="contact">
            <a href="#info" class="info"> 
                <div class="icon blue">A</div>

                <div class="data">
                    <p class="name">Albana Turner</p>
                    <p class="phone">(+55) 63 99287-3421</p>
                </div>
            </a>
            <a href="#remove" class="favorite remove">Remover dos favoritos</a>
        </div>
    </div>
<div>

{{>partials/footer}}