{{>partials/header}}

<div class="container">
    <div class="favorites">
        <h2>Favoritos</h2>
        <hr/>

        {{#favorites}}
            <div class="contact">
                <a href="/contact?id={{id}}" class="info"> 
                    <div class="icon {{avatar}}">{{firstLetter}}</div>

                    <div class="data">
                        <p class="name">{{name}}</p>
                        <p class="phone">{{phone}}</p>
                    </div>
                </a>
                
                    <a href="/remove-from-favorites?id={{id}}" class="favorite remove">Remover dos favoritos</a>
            </div>
        {{/favorites}}
        {{^favorites}} 
            <p class="no-data">Nenhum contato foi adicionado aos favoritos ainda...</p>
        {{/favorites}}

    </div>
    <div class="all-contacts">
        <h2>Todos os contatos</h2>
        <hr/>

        {{#contacts}}
            <div class="contact">
                <a href="/contact?id={{id}}" class="info"> 
                    <div class="icon {{avatar}}">{{firstLetter}}</div>

                    <div class="data">
                        <p class="name">{{name}}</p>
                        <p class="phone">{{phone}}</p>
                    </div>
                </a>
                {{#favorite}}
                    <a href="/remove-from-favorites?id={{id}}" class="favorite remove">Remover dos favoritos</a>
                {{/favorite}}
                {{^favorite}}
                     <a href="/add-to-favorites?id={{id}}" class="favorite add">Adicionar aos favoritos</a>
                {{/favorite}}
            </div>
        {{/contacts}}
        {{^contacts}}
            <p class="no-data">Nenhum contato adicionado ainda...</p>
        {{/contacts}}
<div>

{{>partials/footer}}