<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/index.css">
    <link rel="shortcut icon" href="images/logo.png">
    <title>Lista de Contatos</title>
</head>
<body>
    <header>
        <nav id="menu">
            <a href="/" class="logo">
                <img src="images/logo.png" alt="Logo do site - Lista de Contatos"/>
                <p>Lista de Contatos</p>
            </a>
            <ul class="nav-list">    
                <li class="nav-item">
                    <a href="#" class="nav-link">+ Adicionar contato</a>
                </li>
            </ul>
        </nav>
    </header>
    
